version: "3.9"

services:
  # -------------------------
  # PostgreSQL (Base de datos)
  # -------------------------
  postgres:
    image: postgres:15-alpine
    container_name: properties-db
    restart: unless-stopped
    env_file: [.env]
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./sql:/sql
    ports:
      - "${POSTGRES_PORT}:5432"
    networks: [app-network]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  # ---------------------
  # Redis (cola de jobs)
  # ---------------------
  redis:
    image: redis:7-alpine
    restart: unless-stopped
    networks: [app-network]

  # ---------------------
  # Listener MQTT
  # ---------------------
  listener:
    build: ./src/listener
    container_name: mqtt-listener
    restart: unless-stopped
    env_file: [.env]
    environment:
      NEW_RELIC_LICENSE_KEY: ${NEW_RELIC_LICENSE_KEY_LISTENER}
      NEW_RELIC_APP_NAME: "grupo9-listener"
    depends_on:
      postgres:
        condition: service_healthy
    networks: [app-network]
    volumes:
      - ./src/listener:/app
      - ./src/web_server:/web_server
      - listener_node_modules:/app/node_modules  # evita perder dependencias (como newrelic)
      - listener_node_modules:/web_server/node_modules  # expose installed deps to /web_server requires
  # ------------------------
  # Web Server principal (API)
  # ------------------------
  web_server:
    build: ./src/web_server
    restart: unless-stopped
    env_file: [.env]
    environment:
      NEW_RELIC_LICENSE_KEY: ${NEW_RELIC_LICENSE_KEY_WEB_SERVER}
      NEW_RELIC_APP_NAME: "grupo9-web_server"
    ports:
      - "3000:3000"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    networks: [app-network]
    volumes:
      - ./src/web_server:/app
      - ./src/listener:/app/listener
      - /app/node_modules

  # --------------------------
  # Réplica Web Server (API 2)
  # --------------------------
  web_server_2:
    build: ./src/web_server
    restart: unless-stopped
    env_file: [.env]
    environment:
      NEW_RELIC_LICENSE_KEY: ${NEW_RELIC_LICENSE_KEY_WEB_SERVER_2}
      NEW_RELIC_APP_NAME: "grupo9-web_server_2"
    ports:
      - "3001:3000"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    networks: [app-network]
    volumes:
      - ./src/web_server:/app
      - ./src/listener:/app/listener
      - /app/node_modules

# --------------------------
# Volúmenes y Red interna
# --------------------------
volumes:
  postgres_data:

  listener_node_modules:

networks:
  app-network:
    driver: bridge